#scroll-tip {
    position: fixed;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%);
    font-size: 14px;
   
    background-color: var(--text-color);
    color: var(--background-color);
    border: var(--background-color) solid 2px;
    padding: 4px 16px;
    transition: all 0.3s;
    pointer-events: none;
    animation: bounce 1s ease-in-out infinite;
    opacity: 0;
    z-index: 2;
}

@keyframes bounce {
    0% {
        transform: translate(-50%, 0) scale(1);
         box-shadow: 5px 5px #00000053;
    }
    50% {
        transform: translate(-50%, -10px) scale(1.02);
        box-shadow: 6px 6px 1px #00000024;
    }
    100% {
        transform: translate(-50%, 0) scale(1);
        box-shadow: 5px 5px #00000053;
    }
}